<div class="hero-unit">

	<div style="text-align: center; margin-top: 8em">
		<p>
			<label style="display: block" for="from">From this address</label>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="from" name="from" /><br />
		</p>
		<p>
			<label style="display: block" for="to1">To this address</label>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="to1" name="to1" /><br />
		</p>
		<p>
			<label style="display: block" for="to2">And this one</label>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="to2" name="to2" /><br />
		</p>
		<p>
			<label style="display: block" for="to3">And there too</label>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="to3" name="to3" /><br />
		</p>
		<p>
			<label style="display: block" for="to4">And there</label>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="to4" name="to4" /><br />
		</p>
		<p>
			<button ng-click="computeScore()">Check your transit times!</button>
		</p>
		<table style="margin-left: auto; margin-right: auto">
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Time</th>
			</tr>
			<tr ng-repeat="s in scores">
				<td>{{s.home}}</td>
				<td>{{s.work}}</td>
				<td>{{s.score}}</td>
			</tr>
		</table>
	</div>

</div>
