<div class="container">
	<div class="row">
		<form name="transit" class="well form-horizontal" ng-init="restoreState()">
			<fieldset>

				<legend>Lost in Transit</legend>

				<div class="form-group">
					<label class="control-label" for="from">From this address</label>
					<div class="controls">
						<input type="text" ng-model="from" id="from" class="span6" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="to1">To this address</label>
					<div class="controls">
						<input type="text" ng-model="to1" id="to1" class="span6" required />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="to2">And this one</label>
					<div class="controls">
						<input type="text" ng-model="to2" id="to2" class="span6" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="to3">And there too</label>
					<div class="controls">
						<input type="text" ng-model="to3" id="to3" class="span6" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="to4">And there</label>
					<div class="controls">
						<input type="text" ng-model="to4" id="to4" class="span6" />
					</div>
				</div>

				<div class="control-group">
					<div class="controls center">
						<button ng-disabled="waiting" class="btn btn-default" ng-click="computeScore()">Check your
							transit times!</button>
					</div>
				</div>

			</fieldset>
		</form>

		<table ng-show="times.to1 || times.to2 || times.to3 || times.to4" class="table"
			style="margin-left: auto; margin-right: auto">
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Time</th>
			</tr>
			<tr>
				<td rowspan="4">{{from}}</td>
				<td>{{to1}}</td>
				<td>{{times.to1}} min</td>
			</tr>
			<tr>
				<td>{{to2}}</td>
				<td>{{times.to2}} min</td>
			</tr>
			<tr>
				<td>{{to3}}</td>
				<td>{{times.to3}} min</td>
			</tr>
			<tr>
				<td>{{to4}}</td>
				<td>{{times.to4}} min</td>
			</tr>
		</table>
	</div>
</div>
