<div class="hero-unit">

	<div style="text-align: center; margin-top: 8em">
		<p>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="home" placeholder="What's your home address?" /><br />
		</p>
		<p>
			<input type="text" style="width: 40em; text-align: center"
				ng-model="work" placeholder="What's your work address?" /><br />
		</p>
		<p>
			<button ng-click="computeScore()">Check your transit times!</button>
		</p>
		<table style="margin-left: auto; margin-right: auto">
			<tr>
				<th>Home</th>
				<th>Work</th>
				<th>Duration</th>
			</tr>
			<tr ng-repeat="s in scores">
				<td>{{s.home}}</td>
				<td>{{s.work}}</td>
				<td>{{s.score}}</td>
			</tr>
		</table>
	</div>

</div>
